

<!--<mat-toolbar class="colrTool">
    <p mat-dialog-title>Login</p>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
  </mat-toolbar>-->

  

<!-- 
    <input  type="text"   [(ngModel)]="user.username" name="Test"#UserControl='ngModel'  placeholder ="username" required/>
  
 
    <span *ngIf="!UserControl.valid &&!UserControl.pristine">Please enter Name</span>
  
   
{{loginForm.valid}} -->


<form  #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <p>{{ user | json }}</p>  
    
<div class="form-group">
    <label for="name">Email Address</label>
    <input type="text" class="form-control" id="emailaddress"
    required
    [(ngModel)]="user.email" name="email"
    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
    #email="ngModel">
    <div [hidden]="email.valid || email.pristine"
       class="alert alert-danger">
       <div [hidden]="!email.hasError('required')">Email is required</div>
       <div [hidden]="!email.hasError('pattern')">Email format should be 
          <small><b>joe@abc.com</b></small>
       </div>
    </div>
    </div>
 
  </form> 


