<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
            <div>
               <h3>Contact Us</h3>
               <hr>
            </div>
     </div>

    <div fxFlex>
      <h3>Location Information</h3> 
      <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="50" fxFlexOffset="20px">
                <h4>Our Address</h4>
                <address>
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
		              <i class="fa fa-phone"></i>: 8860361600<br>
		              <i class="fa fa-fax"></i>: 9811666073<br>
		              <i class="fa fa-envelope"></i>: 
                        <a href="mailto:sravik5952@gmail.com">sravik5952@gmail.com</a>
		           </address>
               <p></p>
                <div>
                    <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                    <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
                    <a mat-raised-button href="mailto:sravik5952@gmail.com"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
          <div fxFlex="40">
                <h4>Map of our Location</h4>
          </div>
        </div>
      </div>



      
      

<!-- <div *ngIf="!name; else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
      <div class="form-container">
        <div class="row columns">
          <h1>My Reactive Form</h1>
          <label>Name
            <input type="text" formControlName="name">
          </label>
  
          <label>Description
            <textarea  formControlName="description"></textarea>
          </label>
  
          <label for="validate">Minimum of 3 Characters</label>
          <input type="checkbox" name="validate" formControlName="validate" value="1"> On
          
          <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
        </div>
      </div>
    </form>
  </div>
  
  <ng-template #forminfo>
    <div class="form-container">
      <div class="row columns">
          <h1>{{ name }}</h1>
  
          <p>{{ description }}</p>
      </div>
    </div>
  </ng-template> -->

  

  <!-- <div fxFlex fxFlexOffset="20px" class="form-size">
      <h3>Send us your Feedback</h3>
      <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p>


      
      <form class="design" novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-input-container class="half-width">
              <label>FirstName</label>
            <input matInput formControlName="firstname"  type="text" required>
          </mat-input-container>
          <mat-input-container class="half-width">
              <label>LastName</label>
              
            <input matInput formControlName="lastname" type="text" required>
          </mat-input-container>
        </p>
        <p>
          <mat-input-container class="half-width">
              <label>Phone Number</label>
            <input matInput formControlName="telnum" type="tel" required>
          </mat-input-container>
          <mat-input-container class="half-width">
              <label>Email</label>
            <input matInput formControlName="email"  type="email" required>
          </mat-input-container>
        </p>
        <table class="form-size">
          <td>
          <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
          </td>
          <td>
          <mat-select  formControlName="contacttype">
            <label>How?</label>
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ ctype }}
            </mat-option>
          </mat-select>
          </td>
          </table>
        <p>
          <mat-input-container class="full-width">
            <label> your feedback</label>
            <textarea matInput formControlName="message"  rows=12></textarea>
          </mat-input-container>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
      </form>
    </div> -->


    <form>
        <h1>Feedback form</h1>
        <input placeholder="First Name" type="text"  value="" required>
        <input placeholder="last Name" type="text"  value="" required>
        <input placeholder="Email address" type="email"  value="" required>
        
     
        <div class="flex">
          <textarea placeholder="Your Feedback" rows="1" required></textarea>
        </div>
        <button>Send</button>
      </form>
      
     
      